<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Form</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="firstName">First name</label>  
  <div class="col-md-4">
  <input id="firstName" name="firstName" type="text" placeholder="" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="lastName">Last name</label>  
  <div class="col-md-4">
  <input id="lastName" name="lastName" type="text" placeholder="" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Password input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="password">Password</label>
  <div class="col-md-4">
    <input id="password" name="password" type="password" placeholder="" class="form-control input-md">
    
  </div>
</div>

<!-- Multiple Radios -->
<div class="form-group">
  <label class="col-md-4 control-label" for="sex">Sex</label>
  <div class="col-md-4">
  <div class="radio">
    <label for="sex-0">
      <input type="radio" name="sex" id="sex-0" value="1" checked="checked">
      Male
    </label>
	</div>
  <div class="radio">
    <label for="sex-1">
      <input type="radio" name="sex" id="sex-1" value="2">
      Female
    </label>
	</div>
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="status">Status</label>
  <div class="col-md-4">
    <select id="status" name="status" class="form-control">
      <option value="1">Patient</option>
      <option value="2">Medical staff</option>
    </select>
  </div>
</div>

<!-- Multiple Radios -->
<div class="form-group">
  <label class="col-md-4 control-label" for="visibility">Visibility</label>
  <div class="col-md-4">
  <div class="radio">
    <label for="visibility-0">
      <input type="radio" name="visibility" id="visibility-0" value="1" checked="checked">
      Piblic
    </label>
	</div>
  <div class="radio">
    <label for="visibility-1">
      <input type="radio" name="visibility" id="visibility-1" value="2">
      Private
    </label>
	</div>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="dateOfBirth">Date of birth</label>  
  <div class="col-md-4">
  <input id="dateOfBirth" name="dateOfBirth" type="text" placeholder="DD/MM/YYYY" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="address">Address</label>
  <div class="col-md-4">                     
    <textarea class="form-control" id="address" name="address"></textarea>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="city">City</label>  
  <div class="col-md-4">
  <input id="city" name="city" type="text" placeholder="" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="country">Country</label>
  <div class="col-md-4">
    <select id="country" name="country" class="form-control">
    </select>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="zipCode">Zip code</label>  
  <div class="col-md-4">
  <input id="zipCode" name="zipCode" type="text" placeholder="" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="camp">Camp</label>
  <div class="col-md-4">
    <select id="camp" name="camp" class="form-control">
    </select>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="profession">Profession</label>  
  <div class="col-md-4">
  <input id="profession" name="profession" type="text" placeholder="" class="form-control input-md">
    
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="relationshipStatus">Relationship status</label>
  <div class="col-md-4">
    <select id="relationshipStatus" name="relationshipStatus" class="form-control">
      <option value="1">Single</option>
      <option value="2">Married</option>
      <option value="3">Divorced</option>
      <option value="4">Widow(er)</option>
    </select>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="height">Height</label>  
  <div class="col-md-4">
  <input id="height" name="height" type="text" placeholder="" class="form-control input-md">
  <span class="help-block">In cm</span>  
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="weight">Weight</label>  
  <div class="col-md-4">
  <input id="weight" name="weight" type="text" placeholder="" class="form-control input-md">
  <span class="help-block">in Kg</span>  
  </div>
</div>

<!-- Multiple Radios (inline) -->
<div class="form-group">
  <label class="col-md-4 control-label" for="bloodType">Blood type</label>
  <div class="col-md-4"> 
    <label class="radio-inline" for="bloodType-0">
      <input type="radio" name="bloodType" id="bloodType-0" value="1" checked="checked">
      Unknown
    </label> 
    <label class="radio-inline" for="bloodType-1">
      <input type="radio" name="bloodType" id="bloodType-1" value="2">
      A+
    </label> 
    <label class="radio-inline" for="bloodType-2">
      <input type="radio" name="bloodType" id="bloodType-2" value="3">
      A-
    </label> 
    <label class="radio-inline" for="bloodType-3">
      <input type="radio" name="bloodType" id="bloodType-3" value="4">
      B+
    </label> 
    <label class="radio-inline" for="bloodType-4">
      <input type="radio" name="bloodType" id="bloodType-4" value="5">
      B-
    </label> 
    <label class="radio-inline" for="bloodType-5">
      <input type="radio" name="bloodType" id="bloodType-5" value="6">
      AB+
    </label> 
    <label class="radio-inline" for="bloodType-6">
      <input type="radio" name="bloodType" id="bloodType-6" value="7">
      AB-
    </label> 
    <label class="radio-inline" for="bloodType-7">
      <input type="radio" name="bloodType" id="bloodType-7" value="8">
      O+
    </label> 
    <label class="radio-inline" for="bloodType-8">
      <input type="radio" name="bloodType" id="bloodType-8" value="9">
      O-
    </label>
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="medicalStaffResponsible">Medical staff responsible</label>
  <div class="col-md-4">
    <select id="medicalStaffResponsible" name="medicalStaffResponsible" class="form-control">
    </select>
  </div>
</div>

<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="specifyLocation">Specify location</label>
  <div class="col-md-4">                     
    <textarea class="form-control" id="specifyLocation" name="specifyLocation"></textarea>
  </div>
</div>

<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="condition">Condition</label>
  <div class="col-md-4">                     
    <textarea class="form-control" id="condition" name="condition"></textarea>
  </div>
</div>

</fieldset>
</form>
