<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Form</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Lastname">Lastname</label>  
  <div class="col-md-4">
  <input id="Lastname" name="Lastname" type="text" placeholder="" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Firstname">Firstname</label>  
  <div class="col-md-4">
  <input id="Firstname" name="Firstname" type="text" placeholder="" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Sex">Sex</label>  
  <div class="col-md-4">
  <input id="Sex" name="Sex" type="text" placeholder="" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="Status">Status</label>
  <div class="col-md-4">
    <select id="Status" name="Status" class="form-control">
      <option value="1">Patient</option>
      <option value="2">Doctor</option>
      <option value="3">Admin</option>
    </select>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Date of birth">Date of birth</label>  
  <div class="col-md-4">
  <input id="Date of birth" name="Date of birth" type="text" placeholder="DD/MM/YYYY" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="Address">Address</label>
  <div class="col-md-4">                     
    <textarea class="form-control" id="Address" name="Address"></textarea>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="City">City</label>  
  <div class="col-md-4">
  <input id="City" name="City" type="text" placeholder="" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Country">Country</label>  
  <div class="col-md-4">
  <input id="Country" name="Country" type="text" placeholder="" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Profession">Profession</label>  
  <div class="col-md-4">
  <input id="Profession" name="Profession" type="text" placeholder="" class="form-control input-md">
    
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="Relationship status">Relationship status</label>
  <div class="col-md-4">
    <select id="Relationship status" name="Relationship status" class="form-control">
      <option value="1">Single</option>
      <option value="2">Married</option>
    </select>
  </div>
</div>

</fieldset>
</form>
